registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

save-exact=true

init-author-name=Alan Greene
init-license=MIT
init-version=0.0.1

# local registry for workflow testing using verdaccio
//registry=http://localhost:4873
//@alangreene:registry=http://localhost:4873
